div.highlight-console span.gp {
  cursor: default;
  transition: opacity 0.3s ease-in-out;
}

div.highlight-console:hover span.gp {
  opacity: 0.3;
}

div.highlight-console span.go {
  transition: opacity 0.3s ease-in-out;
}

div.highlight-console:hover span.gp {
  opacity: 0.7;
}
